
.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: maroon;
}


.logo_title {
    font-size: 35px;
    font-weight: bold;
}

.top_title {
    color: white;
    padding: 10px;
    font-size: 20px;

}

.header_tl {
    background-color: whitesmoke;
    border: 2px solid;
    border-width: 5px;
    border-radius: 30px;
    padding: 20px;
}

.social-link {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
}

.banner_top {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    background-color: maroon;
}

.banner_image_wrapper {
    flex: 1; /* Make the wrapper div flex to fill the horizontal space */
    display: flex;
    justify-content: center; /* Center the image horizontally within the wrapper */
}

.banner_image {
    flex: 1; /* Make the image flex to fill the available space */
    width: 100%; /* Set width to 100% to ensure it stretches */
    height: 200px;
    object-fit: cover; /* Maintain aspect ratio */
}

.main_body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    font-family:'Times New Roman', Times, serif;
    background-color: whitesmoke;
    

}

.features {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    margin: 16px

}

.features_item{
    background-color: rgba(128, 0, 0, 0.103);
    width: 300px;
    border-radius: 25px;
    border: 2px solid #0d1306;
    justify-content: center;
    padding: 20px;
    margin: 10px
}

.essence_tab {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    align-items: center;
    margin: 16px;

}

.essence_info {
    color: blue;
    text-align: center;
    
    width: 400px;
    font-size: large;
}


.essence_item{
    background-color: rgba(128, 0, 0, 0.103);
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 2px solid #0d1306;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.features_right{
    width: 300px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    justify-content: center;
    padding: 20px;
}



h1 {
    font-weight: 300;
    text-align: center;
}

b {
    font-weight: 200;
    text-align: center;
}

footer {
    margin-top: 50px;
    font-weight: 150;
    font-style: italic;
    text-align: center;
}

body {
    padding: 0px, 0px;
}